HOST=0.0.0.0
GRPC_PORT=50053
HOST_GRPC_PORT=50053
SERVICE_NAME=rating-catalog
RUST_LOG=info

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_HOST=rating-db
POSTGRES_PORT=5432
HOST_POSTGRES_PORT=5434
REDIS_URL=redis://rating-redis:6379
REDIS_PORT=6379
HOST_REDIS_PORT=6378
CACHE_TTL_SECONDS=604800
