HOST=0.0.0.0
GRPC_PORT=50053
HOST_GRPC_PORT=50053

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_HOST=rating-db
POSTGRES_PORT=5434
REDIS_URL=redis://rating-redis:6379
CACHE_TTL_SECONDS=604800