HOST=0.0.0.0
GRPC_HOST=0.0.0.0
GRPC_PORT=50051
HOST_GRPC_PORT=50051
SERVICE_NAME=book-catalog
RUST_LOG=info

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_HOST=book-db
POSTGRES_PORT=5432
HOST_POSTGRES_PORT=5433
REDIS_URL=redis://book-redis:6379
REDIS_PORT=6379
HOST_REDIS_PORT=6377
CACHE_TTL_SECONDS=604800
