HOST=0.0.0.0
GRPC_PORT=50052
HOST_GRPC_PORT=50052
SERVICE_NAME=author-catalog

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_HOST=author-db
POSTGRES_PORT=5431
REDIS_URL=redis://author-redis:6379
