SERVICE_NAME=api-gateway
API_PORT=8080
HOST=0.0.0.0
HOST_API_PORT=

BOOK_CATALOG_GRPC_URL=http://book-catalog:50051
AUTHOR_CATALOG_GRPC_URL=http://author-catalog:50052
RATING_CATALOG_GRPC_URL=http://rating-catalog:50053
GENRE_ANALYSIS_GRPC_URL=http://genre-analysis:50055
