SERVICE_NAME=api-gateway
API_PORT=8080
HOST=0.0.0.0
HOST_API_PORT=8080

BOOK_CATALOG_GRPC_URL=http://book-catalog:50051
AUTHOR_CATALOG_GRPC_URL=http://author-catalog:50052
RATING_CATALOG_GRPC_URL=http://rating-catalog:50053
COMPARE_SERVICE_GRPC_URL=http://compare-service:50054
GENRE_ANALYSIS_GRPC_URL=http://genre-analysis-service:50055
BOOK_RECOMMENDATION_GRPC_URL=http://book-recommendation:50058
BOOK_SEARCH_GRPC_URL=http://book-search:50057
AUTHOR_ANALYTICS_GRPC_URL=http://author-analytics-service:50056