HOST=0.0.0.0
GRPC_PORT=50055
HOST_GRPC_PORT=50055

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_HOST=genre-db
POSTGRES_PORT=5450

RATING_CATALOG_HOST=rating-catalog
RATING_CATALOG_PORT=50053

BOOK_CATALOG_HOST=book-catalog
BOOK_CATALOG_PORT=50051