SERVICE_NAME=author-analytics-service
HOST=0.0.0.0
GRPC_PORT=50056
RUST_LOG=info
DB_USER=user
DB_PASSWORD=password
DB_NAME=db
HOST_GRPC_PORT=50058
ANALYTICS_POSTGRES_PORT=5435

BOOK_DATABASE_URL=postgresql://user:password@book-db:5432/db
RATING_DATABASE_URL=postgresql://user:password@rating-db:5432/db