SERVICE_NAME=author-analytics-service
HOST=0.0.0.0
GRPC_PORT=50056
HOST_GRPC_PORT=50156
HTTP_PORT=8086
HOST_HTTP_PORT=18086
RUST_LOG=info
DB_USER=user
DB_PASSWORD=password
DB_NAME=db

BOOK_DATABASE_URL=postgresql://user:password@book-db:5432/db
RATING_DATABASE_URL=postgresql://user:password@rating-db:5432/db
AUTHOR_DATABASE_URL=postgresql://user:password@author-db:5432/db
