HOST=0.0.0.0
GRPC_PORT=50056
HOST_GRPC_PORT=50056
SERVICE_NAME=book-recommendation
RUST_LOG=info
BOOK_CATALOG_GRPC_URL=http://book-catalog:50051
GENRE_ANALYSIS_GRPC_URL=http://genre-analysis-service:50055
RATING_CATALOG_GRPC_URL=http://rating-catalog:50053
